/* Global styles */
:root {
    --main-color:  rgb(240,241,235);
    --main-color-sous-popup:  rgb(137, 137, 137);
    --bouton-color:  rgb(127,129,230);
    --bouton-color-hover:  rgb(100, 102, 233);
    --taille-label : 10vw;
}
/*vh et vw*/
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}
.container {
    max-width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-right: var(--taille-label);


}



#nom{
    font-size: 0.8em;
    font-weight: bold;
}

#description{
    font-size: 0.5em;
}

.container2 {
    max-width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row; 
}
.container3 {
    max-width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column  ;
}

.avis{
    display: flex;
    flex-direction: row;
    border:solid 2px var(--bouton-color);
    border-radius: 5px; 
    margin: 10px;
    padding: 5px;
    background-color: white;
}

bouton{
    text-decoration: none;
    color: black;
}


bouton:hover{
    background-color: var(--bouton-color-hover);
    color: white;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerTop{
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*margin-top: 2em;*/
    background-color: var(--main-color);
}


h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 2.5em;
}

h3{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
}

p {
    margin-bottom: 20px;
}






.btn {
    background-color: var(--bouton-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

}

.btnEnregistrer {
    background-color:  var(--bouton-color);
    display: block;
    color: #fff;

    padding: 20px 4%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

button:hover {
    background-color:var(--bouton-color-hover);
}



/* Header styles */

header {
    background-color:  var(--main-color);

}
nav{
    width: 100%;
}

.blocBouton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    float: right;
    position: absolute;
    right: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Profile section styles */

.profile{
    display: flex;
    flex-direction: column;
}


/* Additional styles for the profile page */


.form-group label {
    display: block;
    margin-bottom: 5px;
    width: var(--taille-label);
    padding: 10px;
    text-align: right;

}
.form-group{
    display: flex;
    flex-direction: raw;
    padding: 10px;
}

.input{
    padding-top: 10px;
}

.sousTitre{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
    text-align: center;
    width: 40%;
    margin: auto;
}

.miniTxt{
    font-size: 0.8em;   
    margin-top: 2em;
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 10px;
}

.form-group input
{
    width: 30em ;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    border: 1px solid var(--bouton-color);
}

.form-group select{
    width: 31.5em;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    border: 1px solid var(--bouton-color);
}

/* Footer styles */

footer {
    background-color: var(--main-color);
    padding: 20px 0;
    text-align: center;
}

.popup {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}